/* Bordered form */
#login {
    border: 3px solid #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 600px;
    margin-top: -300px;
    width: 600px;
    margin-left: -300px;

  }

  #tableproject{
    
    border-collapse: collapse;
  }

  #positiontable{
    
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 600px;
    
    border: 3px solid green;

    padding: 25px;
  }


  #tittleproject{
    margin-top: 70px;
    margin-left: 950px;
  }

  #addimg{
      margin-left: 650px;
      margin-top: -95px;
  }

  #addproject{
    margin-top: 70px;
    margin-left: 600px;
    width: 10%;
}


  #removeimg{
    margin-left: 700px;
    margin-top: 50px;
}

  #nav{
    margin-left: 85%;
  }

  #upload{
    margin-left: 950px;
  }

  #dbbox{
    border: 3px solid #000000;
    position: absolute;
    left: 55%;
    top: 52%;
    height: 600px;
    margin-top: -200px;
    width: 1200px;
    margin-left: -600px;
  }

  #insideproject{
    border: 3px solid #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 600px;
    margin-top: -200px;
    width: 1200px;
    margin-left: -600px;
  }

  #regis{
    border: 3px solid #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 800px;
    margin-top: -400px;
    width: 600px;
    margin-left: -300px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Full-width inputs */

  .alert{
   width: 30%;
   left: 35%;

  
  }

  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: center;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  #cosbenbox{
    border: 3px solid #000000;
    position: absolute;
    left: 55%;
    top: 40%;
    height: 800px;
    margin-top: -200px;
    width: 1500px;
    margin-left: -800px;
  }


  #middle{
    text-align: center;
  }
  